# Python Programming Language

## Module 3: Literals, Variables and Operators

### Operators

#### Arithmetic Operators

In [103]:
#addition
print("Addition: 5 + 2 =", 5 + 2) #7

#subtraction
print("Subtraction: 4 - 3 =", 4 - 3) #1

#multiplication
print("Multiplication: 4 * 3 =", 4 * 3) #12

#division
print("Division: 9 / 3 =", 9 / 3) #3.0

#floor division
print("Floor division: 10 // 3 =", 10 // 3) #3

#modulo
print("Modulo division: 3 % 2 =", 3 % 2) #1

#power
print("Power: 3 ** 3 =", 3**3) #27

Addition: 5 + 2 = 7
Subtraction: 4 - 3 = 1
Multiplication: 4 * 3 = 12
Division: 9 / 3 = 3.0
Floor division: 10 // 3 = 3
Modulo division: 3 % 2 = 1
Power: 3 ** 3 = 27

#### Assignment Operators

In [104]:
#assignment operator
x = 5
print(x) #5

#addition assignment
x += 4
print(x) #9

#subrtaction assignment
x -= 1
print(x) #8

#multiplication assignment
x *= 4
print(x) #32

#division assignment
x /= 2
print(x) #16.0

#remainder assignment
x %= 6
print(x) #4.0

#exponent assignment
x **= 2
print(x) #16.0

5
9
8
32
16.0
4.0
16.0

#### Comparison Operators

In [105]:
#is equal to
print("2 == 6", 2 == 6) #False

#not equal to
print("2 != 6", 2 != 6) #True

#greater than
print("2 > 3", 2 > 3) #False

#less than
print("2 < 3", 2 < 3) #True

#greater than or equal to
print("2 >= 3", 2 >= 3) #False

#less than or equal to
print("2 <= 2", 2 <= 2) #True

2 == 6 False
2 != 6 True
2 > 3 False
2 < 3 True
2 >= 3 False
2 <= 2 True

#### Logical Operators

In [106]:
#logical and
print("2 == 2 and 1 == 2", 2 == 2 and 1 == 2) #False

#logical or
print("2 == 2 or 1 == 2", 2 == 2 or 1 == 2) #True

#logical not
print("not 2 == 2", not 2 == 2) #False

2 == 2 and 1 == 2 False
2 == 2 or 1 == 2 True
not 2 == 2 False

#### Bitwise Operators

In [107]:
x = 4 #0000 0100
y = 10 #0000 1010
#bitwise and
print("4 & 10 =", x & y) #0000 0000 = 0

#bitwise or
print("4 | 10 =", x | y) #0000 1110 = 14

#bitwise not
print("~4 =", ~x) #1111 1011 = 

#bitwise xor
print("4 ^ 10 =", x ^ y) #0000 1110 = 14

#bitwise right shift
print("10 >> 4 =", y >> x) #0000 0000 = 0

#bitwise left shift
print("10 << 4 =", y << x) #1010 0000 = 160

4 & 10 = 0
4 | 10 = 14
~4 = -5
4 ^ 10 = 14
10 >> 4 = 0
10 << 4 = 160

#### Special Operators

In [108]:
#----- Identity Operators -----
x = 3
y = 4

#is
print(x is y) #False

#is not
print(x is not y) #True

#----- Membership Operators -----
fruits = ["apple", "banana", "pineapple", "grape"]
details = {1: "Krisha", 2: "Hritik", 2: "Isha"}

# in
print("apple" in fruits) #True
print(1 in details) #True
print("Krisha" in details) #False
print("isha" in "Krisha") #True

#not in
print("apple" not in fruits) #False
print(5 in details) #False

False
True
True
True
False
True
False
False

### Comments

In [109]:
# single line comment

"""
multi
line
comment
"""

'\nmulti\nline\ncomment\n'

### String and its operators

#### Single and double quotes

In [110]:
# string using single quote ''
print('Hi, I am Pranima Kansakar.')
print('Hi, I\'m Pranima Kansakar.')

# string using double quote ""
print("Hi, I'm Pranima Kansakar.")

Hi, I am Pranima Kansakar.
Hi, I'm Pranima Kansakar.
Hi, I'm Pranima Kansakar.

### Accessing string characters

#### Indexing

In [111]:
name = "Pranima"

#access 4th index element
print(name[4]) #i

#access 2nd last element
print(name[-2]) #m

i
m

#### Slicing

In [112]:
message = "Hello, there!"

#access characters from 1st to 4th index
print(message[1:5])

#access characters from 2nd to last index with step 2
print(message[2:-1:2])

#access character from 2nd last to 1st index element with step -2
print(message[-2:0:-2])

ello
lo hr
eet,le

Example to reverse string in python

In [113]:
#using slicing
word = "Pranima"
print("String:", word)
reversed_word = word[-1::-1]
print("Reversed string using slicing:", reversed_word)

String: Pranima
Reversed string using slicing: aminarP

In [114]:
#using indexing, join operation and for loop
word = "Pranima"
reversed_word = "" #strings are immutable, so we need another variable to store the reversed string instead of changing the original string
for i in range(len(word)): #len() method is used to find length of a string
    reversed_word = word[i] + reversed_word #join operation on strings
print(reversed_word)

aminarP

Example to capitalize the first and the last character of each word in a string

In [140]:
string = "My name is pranima kansakar i"
words = string.split(' ')

new_string = ""
for word in words:
    new_string += word[0].upper() #capitalize first character of word
    for i in range(1, len(word) - 1):
          new_string += word[i]
    new_string += word[-1].upper() #capitalize last character of word
    new_string += " "

print(string)
print(new_string)

My name is pranima kansakar i
MY NamE IS PranimA KansakaR II

### String Operations

#### Comparing two strings

In [116]:
print("hello" == "hello") #True
print("hello" == "Hello") #False

True
False

#### Joining two strings

In [117]:
f_name = "Pranima"
l_name = "Kansakar"
print(f_name + l_name)

PranimaKansakar

### Iterating through a string

In [118]:
for char in "apple":
    print(char)

a
p
p
l
e

#### Finding length of a string

In [119]:
len("hello")

5

### String membership test

In [120]:
#check if a string pranima contains a substring ra
print("ra" in "pranima") #True

True

### String Methods

In [1]:
greet = "Hello, there!"

#upper()
print(greet.upper())

#lower()
print(greet.lower())

#partition()
print(greet.partition(', '))

#replace()
print(greet.replace('Hello', 'Hi'))

#find()
print(greet.find("e"))
print(greet.find("llo"))
print(greet.find("n"))

#rstrip()
print(greet.rstrip("ll"))

#split()
print(greet.split(" "))

#startswith()
print(greet.startswith("l"))
print(greet.startswith("H"))

#isnumeric()
print(greet.isnumeric())

#index()
print(greet.index("e"))

HELLO, THERE!
hello, there!
('Hello', ', ', 'there!')
Hi, there!
1
2
-1
Hello, there!
['Hello,', 'there!']
False
True
False
1

### Escape Sequences

In [122]:
print("\\") #backslash
print('Hi I\'m Pranima.') #single quote
print("He said, \"Hello!\"") #double quote
# print("\a")
# print("\b")
# print("\f")
print("It's a lovely day\n") #ASCII Linefeed
# print("\r")
print("This is \t horizontal tab.") #ASCII Horizontal tab
# print("This is \v vertical tab") #ASCII Vertical tab
# print("\ooo")
# print("\xHH")

\
Hi I'm Pranima.
He said, "Hello!"
It's a lovely day

This is 	 horizontal tab.

### String Formatting

In [123]:
fname = "Pranima"
lname = "Kanskar"
print(f"Hello, {fname} {lname}. Nice to meet you!") 


#try with logger

Hello, Pranima Kanskar. Nice to meet you!

### Booleans and Numbers(Integers, Floats, Scientific Notations)

#### Booleans

The boolean value can be of two types only i.e. either True or False. The output <class ‘bool’> indicates the variable is a boolean data type.

In [2]:
a = True
print(type(a))
 
b = False
print(type(b))

<class 'bool'>
<class 'bool'>

##### bool() method

The bool() method returns:

- False - if argument is empty, False, 0 or None
- True - if argument is any number (besides 0), True or a string

In [5]:
s = 3 #integer
print(f"{a} -> {bool(a)}") #True

d = 3.7 #float
print(f"{d} -> {bool(d)}") #True

f = "Testing what bool() method returns." #string
print(f"{f} -> {bool(f)}") #True

g = True #boolean
print(f"{g} -> {bool(g)}") #True

3 -> True
3.7 -> True
Testing what bool() method returns. -> True
True -> True

In [6]:
s1 = 0 #zero
print(f"{s1} -> {bool(s1)}") #False

s2 = None #none
print(f"{s2} -> {bool(s2)}") #False

s3 = False
print(f"{s3} -> {bool(s3)}") #False

s4 = [] #any empty argument
print(f"{s4} -> {bool(s4)}") #False

0 -> False
None -> False
False -> False
[] -> False

#### Boolean Operators
Boolean Operations are simple arithmetic of True and False values. These values can be manipulated by the use of boolean operators which include AND, Or, and NOT. Common boolean operations are –

- or
- and
- not
- == (equivalent)
- != (not equivalent)

#### Numbers

Python supports integers, floating-point numbers and complex numbers. They are defined as int, float, and complex classes in Python.

- int - holds signed integers of non-limited length.
- float - holds floating decimal points and it's accurate up to 15 decimal places.
- complex - holds complex numbers.

In [9]:
num1 = 3 #integer
print(num1, 'is of type', type(num1))

num2 = 3.432 #float
num3 = 3e12
print(num2, 'is of type', type(num2))
print(num3, 'is of type', type(num3))

num4 = 8+4j #complex
print(num4, 'is of type', type(num4))

3 is of type <class 'int'>
3.432 is of type <class 'float'>
3000000000000.0 is of type <class 'float'>
(8+4j) is of type <class 'complex'>

#### Scientific Notations
Python displays values as scientific notation when they are bigger than 1×1015 or smaller than 1×10-4.

In [10]:
print(123456789123456789.5)
print(0.00000001)

1.2345678912345678e+17
1e-08

##### Converting scientific notation to decimal values
We can suppress scientific notation by using in f-strings.

In [16]:
value = 0.0000123
print("value without supression: ", value)
print(f"value with supression: {value:.7f}") #after decimal point, 7 digit will be displayed
                                             # f represents float
print(f"value with supression: {value:.5f}") #after decimal point, 5 digit will be displayed
print(f"value with supression: {value:f}") #after decimal point, 6 digit will be displayed

value without supression:  1.23e-05
value with supression: 0.0000123
value with supression: 0.00001
value with supression: 0.000012

##### Converting floating point values to scientific notation
We can use the f-string formatter again, using e to represent that we want the values to b expressed in scientific notation.

In [25]:
value = 345000
print("value without scientific notation: ", value)
print(f"value with scientific notation: {value:e}") #e represents scientific format
print(f"value with scientific notation: {value:.3e}") # after decimal point, only 3 digits will be displayed

value without scientific notation:  345000
value with scientific notation: 3.450000e+05
value with scientific notation: 3.450e+05

## Module 5: Data Types

### List

In [29]:
#list with strings
fruits = ["apple", "banana", "grape", "pineapple"]
print("List of strings: ", fruits)

#list with integers
numbers = [10, 20, 30, 40]
print("List of integers:", numbers)

#list with mixed data types
mixed_list = ["Pranima", 24, 3.9]
print("List of mixed data types:", mixed_list)

#empty list
empty_list = []
print("Empty list:", empty_list)

#list using list() 
llist = list()
print("Empty list using list()", llist)

llist1 = list((1, 2, 3, 4))
print("Converting tuple to list:", llist1)

List of strings:  ['apple', 'banana', 'grape', 'pineapple']
List of integers: [10, 20, 30, 40]
List of mixed data types: ['Pranima', 24, 3.9]
Empty list: []
Empty list using list() []
Converting tuple to list: [1, 2, 3, 4]

#### Accessing list members

#### Indexing and Negative Indexing

In [125]:
student_names = ["Pranima", "Krisha", "Hritik", "Ishar"]

#accessing item at index 3
print(student_names[3]) #Hritik

#accessing item at 3rd last index
print(student_names[-3]) #Krisha

Ishar
Krisha

#### Slicing

In [126]:
ages = [12, 34, 23, 7, 89, 9, 78, 5]

#accessing items from index 2 to 4
print(ages[2:5])

#items from index 4 to end
print(ages[4:])

#items from beginning to end
print(ages[:])

#items from beginning to end with step 3
print(ages[::3])

#items from end to beginning
print(ages[-1::-1])

[23, 7, 89]
[89, 9, 78, 5]
[12, 34, 23, 7, 89, 9, 78, 5]
[12, 7, 78]
[5, 78, 9, 89, 7, 23, 34, 12]

#### Iterating through a list in Python

In [38]:
armors = ('gun', 'sword', 'bomb')

# iterating through the tuple
for armor in armors:
    print(armor)

gun
sword
bomb

#### Check if an Item Exists in the Python list

In [39]:
armors = ('gun', 'sword', 'bomb')

print("gun" in armors)

True

### List Function and methods

#### Adding items to list

In [127]:
languages = ["Python", "C++", "javaScript", "Java"]
print("Original list:", languages)

#adding an item to the end of the list using append()
languages.append("Go")
print("List after appending 'Go':", languages)

#adding items of lists and other iterables to the end of the list using extend()
languages.extend(["Rust", "Ruby"])
print("List after extending with list ['Rust', 'Ruby']:", languages)

#inseting an item at the specified index using insert()

Original list: ['Python', 'C++', 'javaScript', 'Java']
List after appending 'Go': ['Python', 'C++', 'javaScript', 'Java', 'Go']
List after extending with list ['Rust', 'Ruby']: ['Python', 'C++', 'javaScript', 'Java', 'Go', 'Rust', 'Ruby']

#### Removing items from the list

##### Removing an item from the list using remove()
The remove() method removes the first matching element passed as an argument from the list. It does not return any value (returns None).

In [128]:
languages = ['Python', 'C++', 'javaScript', 'Java', 'Go', 'Rust', 'Ruby', 'Python']
print("Original list:", languages)

#remove an element from the list
languages.remove("Go")
print("List after removing 'Go':", languages)

#remove an item from the list with duplicate items
# only the first matching element is removed
languages.remove("Python")
print("List after removing a duplicate item 'Python': ", languages)

#remove an item that doesn't exist
#throws ValueError exception
languages.remove("Dart")

Original list: ['Python', 'C++', 'javaScript', 'Java', 'Go', 'Rust', 'Ruby', 'Python']
List after removing 'Go': ['Python', 'C++', 'javaScript', 'Java', 'Rust', 'Ruby', 'Python']
List after removing a duplicate item 'Python':  ['C++', 'javaScript', 'Java', 'Rust', 'Ruby', 'Python']

ValueError: list.remove(x): x not in list

##### Return and remove item at given index using pop()
The pop() method remobes the item at the given index from the list and returns the removed item.

In [135]:
languages = ['Python', 'C++', 'javaScript', 'Java', 'Go', 'Rust', 'Ruby', 'Python']

#return and remove the item at index 3
print("Removed item at index 3:", languages.pop(3))
print("List after removing item at index 3", languages)

#return and remove the last item
print("Removed item:", languages.pop()) #without passing argument
print("Removed item:", languages.pop(-1)) #using negative indexing
print("List after popping two items from the last:", languages)

#remove all items from the list

Removed item at index 3: Java
List after removing item at index 3 ['Python', 'C++', 'javaScript', 'Go', 'Rust', 'Ruby', 'Python']
Removed item: Python
Removed item: Ruby
List after popping two items from the last: ['Python', 'C++', 'javaScript', 'Go', 'Rust']

##### Remove all items from the list using clear()
The clear() method removes all items from the list.

In [ ]:
numbers = [1, 2, 3, 4, 5]

#remove all elements form the list
numbers.clear()
print(numbers)

#### Other methods

#### count()
The count() method counts the number of times the specified element appears in the list.

In [139]:
#count the occurences of 1 from the list of integers
numbers = [1, 2, 3, 4, 1, 7, 4, 2, 1]
print("Count of 1:", numbers.count(1))

#count the ocurrence of non-existent number 10 from the list
print("Count of 10:", numbers.count(10))

#count tuple and list elements inside list
eg_list = [(1, 1), [2, 4], (1, 1), [3, 2],(3,2), 7.9]

eg_string = ["asim", "pranima", "asim", "ayush"]
print("Count of (1, 1):", eg_list.count((1,1)))
print("Count of [3, 2]:", eg_list.count([3, 2]))
print(eg_string.count("asim"))

Count of 1: 3
Count of 10: 0
Count of (1, 1): 2
Count of [3, 2]: 1
2

#### sort()
By default, sort() doesn't require any extra parameters. However, it has two optional parameters:

- reverse - If True, the sorted list is reversed (or sorted in Descending order)
- key - function that serves as a key for the sort comparison

In [25]:
print("-------------------------Sorting list of numbers--------------------------")

numbers = [34, 54,23, 65, 74, 93, 15]
print("Original list of numbers:", numbers)

#sort the list in ascending order
numbers.sort()
print("Sorted list in ascending order:", numbers)

#sort the list in descending order
numbers.sort(reverse=True)
print("Sorted list in descending order:", numbers)

print("\n")

print("--------------------sorting list of strings--------------------")
#strings are sorted according to unicode
cities = ["Kathmandu", "Hetauda", "Tokyo", "biratnagar", "pokhara", "ahemdabad"]
print("Original list of strings", cities)
cities.sort()
print("Sorted list of strings in ascending order", cities)
print("\n")

print("--------------------------Sorting list of lists and tuples--------------------------")

#by default list is sorted by 1st element in the tuples/lists inside list
listoflists = [[1,2], [23, 1], [2, 12], [5, 6]]
print("Original list of lists:", listoflists)
listoflists.sort()
print("Sorted list by 2nd element", listoflists)

#sort the list of tuple or list with custom function using key
def second(ele):
    return ele[1]
listoftuples = [(1,2), (23, 1), (2, 12), (5, 6)]
print("Original list of tuples:", listoftuples)
listoftuples.sort(key=second)
print("Sorted list by 2nd element", listoftuples)
print("\n")

print("-------------------------Sorting list of dictionaries--------------------------")

#sort list of dictionary with custom function using key
employees = [
    {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]
print("Original list of employees:\n", employees)
print("\n")

def get_salary(employee):
    return employee.get("salary")

employees.sort(key=get_salary)
print("Sorted list by salary of employees:\n", employees)
print("\n")

#using lambda function to sort list of dictionary
employees.sort(key=lambda x:x.get("Name"))
print("Sorted list by name using lamba function:\n", employees)

-------------------------Sorting list of numbers--------------------------
Original list of numbers: [34, 54, 23, 65, 74, 93, 15]
Sorted list in ascending order: [15, 23, 34, 54, 65, 74, 93]
Sorted list in descending order: [93, 74, 65, 54, 34, 23, 15]


--------------------sorting list of strings--------------------
Original list of strings ['Kathmandu', 'Hetauda', 'Tokyo', 'biratnagar', 'pokhara', 'ahemdabad']
Sorted list of strings in ascending order ['Hetauda', 'Kathmandu', 'Tokyo', 'ahemdabad', 'biratnagar', 'pokhara']


--------------------------Sorting list of lists and tuples--------------------------
Original list of lists: [[1, 2], [23, 1], [2, 12], [5, 6]]
Sorted list by 2nd element [[1, 2], [2, 12], [5, 6], [23, 1]]
Original list of tuples: [(1, 2), (23, 1), (2, 12), (5, 6)]
Sorted list by 2nd element [(23, 1), (1, 2), (5, 6), (2, 12)]


-------------------------Sorting list of dictionaries--------------------------
Original list of employees:
 [{'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}, {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]


Sorted list by salary of employees:
 [{'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}, {'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]


Sorted list by name using lamba function:
 [{'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}]

#### copy()
copy() is used to copy a list instead of assignment operator when you need the original list unchanged when the copied list is modified.

##### Copying a list using copy()
Original list is unchanged when copied list is modified.

In [35]:
#returns the shallow copy of the list
prime_numbers = [2, 3, 5, 7]
prime_numbers1 = prime_numbers.copy()
print("Copied list:", prime_numbers1)

prime_numbers1[2] = 17
print("Original list after modifying copy", prime_numbers)

Copied list: [2, 3, 5, 7]
Original list after modifying copy [2, 3, 5, 7]

##### Copying a list using =
Original list is changed when copied list is modified.

In [36]:
even_numbers = [2, 4, 6, 8]
even_numbers1 = even_numbers
print("Copied list:", even_numbers1)
even_numbers1.append(10)
print("Original list after modifying copy", even_numbers)

Copied list: [2, 4, 6, 8]
Original list after modifying copy [2, 4, 6, 8, 10]

##### Copying a list using Slicing
Original list is unchanged when copied list is modified.

In [37]:
odd_numbers = [1, 3, 5, 7]
odd_numbers1 = odd_numbers[:]
print("Copied list:", odd_numbers1)
odd_numbers1.pop()
print("Original list after modifying copy", odd_numbers)

Copied list: [1, 3, 5, 7]
Original list after modifying copy [1, 3, 5, 7]

### Nested List

#### List Comprehension

In [54]:
#list comprehension
n = [i for i in range(10)]
print(n)

#list comprehension for nested list
matrix = [[j for j in range(4)] for i in range(4)]
print(matrix)

#flatten matrix
flat_matrix = [element for sublist in matrix for element in sublist ]
print(flat_matrix)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]
[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]
0
1
2
3
0
1
2
3
0
1
2
3
0
1
2
3

##### Program to count unique values inside a list

In [15]:
things = ["pen", "book", "copy", "pen", "charger", "wire", "wire"]

unique_count = 0
for thing in things:
    if things.count(thing) == 1:
        unique_count += 1
print(unique_count)

3

### Intro to tuples and dictionaries

In [37]:
# Empty tuple
my_tuple = ()
print("Empty tuple", my_tuple)

# Tuple having integers
my_tuple1 = (1, 2, 3)
print("Tuple of integers", my_tuple1)

# tuple with mixed datatypes
my_tuple2 = (1, "cat", 3.4)
print("Tuple of mixed data types", my_tuple2)

# nested tuple
my_tuple3 = ("dog", [8, 4, 5], (1, 2, 4))
print("Nested tuple", my_tuple3)

# string vs tuple with one element
my_string4 = ("hi")
my_tuple4 = ("hi",) #comma required for tuple
print(my_string4)
print(my_tuple4)

#tuple without paranthesis
my_tuple5 = "hi", "hello", #paranthesis is optional for tuple
print(my_tuple5)

Empty tuple ()
Tuple of integers (1, 2, 3)
Tuple of mixed data types (1, 'cat', 3.4)
Nested tuple ('dog', [8, 4, 5], (1, 2, 4))
hi
('hi',)
('hi', 'hello')

#### List vs Tuple

- Accessing tuple elements using indexing, negative indexing, and slicing is same as that in list.
- Iterating through a tuple in python is also same as that in list.
- Checking if an item exits in python tuple is also same as that in list.
- However, tuple is immutable.
- Because of immutable nature, only some list methods are applicable to tuples, which are 
    - count()
    - index().

##### Advantages of Tuple over List in Python
Since tuples are quite similar to lists, both of them are used in similar situations.

However, there are certain advantages of implementing a tuple over a list:

- We generally use tuples for heterogeneous (different) data types and lists for homogeneous (similar) data types.
- Since tuples are immutable, iterating through a tuple is faster than with a list. So there is a slight performance boost.
- Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
- If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.

### Dictionaries