# Python Programming Language

## Module 3: Literals, Variables and Operators

### Operators

#### Arithmetic Operators

In [12]:
#addition
print("Addition: 5 + 2 =", 5 + 2) #7

#subtraction
print("Subtraction: 4 - 3 =", 4 - 3) #1

#multiplication
print("Multiplication: 4 * 3 =", 4 * 3) #12

#division
print("Division: 9 / 3 =", 9 / 3) #3.0

#floor division
print("Floor division: 10 // 3 =", 10 // 3) #3

#modulo
print("Modulo division: 3 % 2 =", 3 % 2) #1

#power
print("Power: 3 ** 3 =", 3**3) #27

Addition: 5 + 2 = 7
Subtraction: 4 - 3 = 1
Multiplication: 4 * 3 = 12
Division: 9 / 3 = 3.0
Floor division: 10 // 3 = 3
Modulo division: 3 % 2 = 1
Power: 3 ** 3 = 27

#### Assignment Operators

In [13]:
#assignment operator
x = 5
print(x) #5

#addition assignment
x += 4
print(x) #9

#subrtaction assignment
x -= 1
print(x) #8

#multiplication assignment
x *= 4
print(x) #32

#division assignment
x /= 2
print(x) #16.0

#remainder assignment
x %= 6
print(x) #4.0

#exponent assignment
x **= 2
print(x) #16.0

#### Comparison Operators

In [14]:
#is equal to
print("2 == 6", 2 == 6) #False

#not equal to
print("2 != 6", 2 != 6) #True

#greater than
print("2 > 3", 2 > 3) #False

#less than
print("2 < 3", 2 < 3) #True

#greater than or equal to
print("2 >= 3", 2 >= 3) #False

#less than or equal to
print("2 <= 2", 2 <= 2) #True

#### Logical Operators

In [15]:
#logical and
print("2 == 2 and 1 == 2", 2 == 2 and 1 == 2) #False

#logical or
print("2 == 2 or 1 == 2", 2 == 2 or 1 == 2) #True

#logical not
print("not 2 == 2", not 2 == 2) #False

#### Bitwise Operators

In [16]:
x = 4 #0000 0100
y = 10 #0000 1010
#bitwise and
print("4 & 10 =", x & y) #0000 0000 = 0

#bitwise or
print("4 | 10 =", x | y) #0000 1110 = 14

#bitwise not
print("~4 =", ~x) #1111 1011 = 

#bitwise xor
print("4 ^ 10 =", x ^ y) #0000 1110 = 14

#bitwise right shift
print("10 >> 4 =", y >> x) #0000 0000 = 0

#bitwise left shift
print("10 << 4 =", y << x) #1010 0000 = 160

#### Special Operators

In [17]:
#----- Identity Operators -----
x = 3
y = 4

#is
print(x is y) #False

#is not
print(x is not y) #True

#----- Membership Operators -----
fruits = ["apple", "banana", "pineapple", "grape"]
details = {1: "Krisha", 2: "Hritik", 2: "Isha"}

# in
print("apple" in fruits) #True
print(1 in details) #True
print("Krisha" in details) #False
print("isha" in "Krisha") #True

#not in
print("apple" not in fruits) #False
print(5 in details) #False

### Comments

In [18]:
# single line comment

"""
multi
line
comment
"""

### String and its operators

#### Single and double quotes

In [19]:
# string using single quote ''
print('Hi, I am Pranima Kansakar.')
print('Hi, I\'m Pranima Kansakar.')

# string using double quote ""
print("Hi, I'm Pranima Kansakar.")

### Accessing string characters

#### Indexing

In [20]:
name = "Pranima"

#access 4th index element
print(name[4]) #i

#access 2nd last element
print(name[-2]) #m

#### Slicing

In [21]:
message = "Hello, there!"

#access characters from 1st to 4th index
print(message[1:5])

#access characters from 2nd to last index with step 2
print(message[2:-1:2])

#access character from 2nd last to 1st index element with step -2
print(message[-2:0:-2])

Example to reverse string in python

In [22]:
#using slicing
word = "Pranima"
print("String:", word)
reversed_word = word[-1::-1]
print("Reversed string using slicing:", reversed_word)

In [23]:
#using indexing, join operation and for loop
word = "Pranima"
reversed_word = "" #strings are immutable, so we need another variable to store the reversed string instead of changing the original string
for i in range(len(word)): #len() method is used to find length of a string
    reversed_word = word[i] + reversed_word #join operation on strings
print(reversed_word)

Example to capitalize the first and the last character of each word in a string

In [24]:
string = "My name is pranima kansakar"
words = string.split(' ')

new_string = ""
for word in words:
    new_string += word[0].upper() #capitalize first character of word
    for i in range(1, len(word) - 1):
          new_string += word[i]
    new_string += word[-1].upper() #capitalize last character of word
    new_string += " "

print(string)
print(new_string)

### String Operations

#### Comparing two strings

In [25]:
print("hello" == "hello") #True
print("hello" == "Hello") #False

#### Joining two strings

In [26]:
f_name = "Pranima"
l_name = "Kansakar"
print(f_name + l_name)

### Iterating through a string

In [27]:
for char in "apple":
    print(char)

#### Finding length of a string

In [28]:
len("hello")

### String membership test

In [29]:
#check if a string pranima contains a substring ra
print("ra" in "pranima") #True

### String Methods

In [30]:
string = "Hello, there!"

#upper()
print(string.upper())

#lower()
print(string.lower())

#partition()
print(string.partition(', '))

#replace()
print(string.replace('Hello', 'Hi'))

#find()
print(string.find("e"))
print(string.find("llo"))
print(string.find("n"))

#rstrip()
print(string.rstrip("ll"))

#split()
print(string.split(" "))

#startswith()
print(string.startswith("l"))
print(string.startswith("H"))

#isnumeric()
print(string.isnumeric())

#index()
print(string.index("e"))

### Escape Sequences

In [33]:
print("\\") #backslash
print('Hi I\'m Pranima.') #single quote
print("He said, \"Hello!\"") #double quote
# print("\a")
# print("\b")
# print("\f")
print("It's a lovely day\n") #ASCII Linefeed
# print("\r")
print("This is \t horizontal tab.") #ASCII Horizontal tab
# print("This is \v vertical tab") #ASCII Vertical tab
# print("\ooo")
# print("\xHH")

### String Formatting

In [34]:
fname = "Pranima"
lname = "Kanskar"
print(f"Hello, {fname} {lname}. Nice to meet you!")

### Booleans and Numbers(Integers, Floats, Scientific Notations)

## Module 5: Data Types

### List

In [46]:
#list with strings
fruits = ["apple", "banana", "grape", "pineapple"]
print("List of strings: ", fruits)

#list with integers
numbers = [10, 20, 30, 40]
print("List of integers:", numbers)

#list with mixed data types
mixed_list = ["Pranima", 24, 3.9]
print("List of mixed data types:", mixed_list)

#empty list
empty_list = []
print("Empty list:", empty_list)

List of strings:  ['apple', 'banana', 'grape', 'pineapple']
List of integers: [10, 20, 30, 40]
List of mixed data types: ['Pranima', 24, 3.9]
Empty list: []

#### Accessing list members

#### Indexing and Negative Indexing

In [47]:
student_names = ["Pranima", "Krisha", "Hritik", "Ishar"]

#accessing item at index 3
print(student_names[3]) #Hritik

#accessing item at 3rd last index
print(student_names[-3]) #Krisha

Ishar
Krisha

#### Slicing

In [51]:
ages = [12, 34, 23, 7, 89, 9, 78, 5]

#accessing items from index 2 to 4
print(ages[2:5])

#items from index 4 to end
print(ages[4:])

#items from beginning to end
print(ages[:])

#items from beginning to end with step 3
print(ages[::3])

#items from end to beginning
print(ages[-1::-1])

[23, 7, 89]
[89, 9, 78, 5]
[12, 34, 23, 7, 89, 9, 78, 5]
[12, 7, 78]
[5, 78, 9, 89, 7, 23, 34, 12]

### List Function and methods

#### Adding items to list

In [58]:
languages = ["Python", "C++", "javaScript", "Java"]
print("Original list:", languages)

#adding an item to the end of the list using append()
languages.append("Go")
print("List after appending 'Go':", languages)

#adding items of lists and other iterables to the end of the list using extend()
languages.extend(["Rust", "Ruby"])
print("List after extending with list ['Rust', 'Ruby']:", languages)

#inseting an item at the specified index using insert()

Original list: ['Python', 'C++', 'javaScript', 'Java']
List after appending 'Go': ['Python', 'C++', 'javaScript', 'Java', 'Go']
List after extending with list ['Rust', 'Ruby']: ['Python', 'C++', 'javaScript', 'Java', 'Go', 'Rust', 'Ruby']

#### Removing items from the list

##### Removing an item from the list using remove()
The remove() method removes the first matching element passed as an argument from the list. It does not return any value (returns None).

In [69]:
languages = ['Python', 'C++', 'javaScript', 'Java', 'Go', 'Rust', 'Ruby', 'Python']
print("Original list:", languages)

#remove an element from the list
languages.remove("Go")
print("List after removing 'Go':", languages)

#remove an item from the list with duplicate items
# only the first matching element is removed
languages.remove("Python")
print("List after removing a duplicate item 'Python': ", languages)

#remove an item that doesn't exist
#throws ValueError exception
languages.remove("Dart")

Original list: ['Python', 'C++', 'javaScript', 'Java', 'Go', 'Rust', 'Ruby', 'Python']
List after removing 'Go': ['Python', 'C++', 'javaScript', 'Java', 'Rust', 'Ruby', 'Python']
List after removing a duplicate item 'Python':  ['C++', 'javaScript', 'Java', 'Rust', 'Ruby', 'Python']

ValueError: list.remove(x): x not in list

##### Return and remove item at given index using pop()
The pop() method remobes the item at the given index from the list and returns the removed item.

In [70]:
languages = ['Python', 'C++', 'javaScript', 'Java', 'Go', 'Rust', 'Ruby', 'Python']

#return and remove the item at index 3
print("Removed item at index 3:", languages.pop(3))
print("List after removing item at index 3", languages)

#return and remove the last item
print("Removed item:", languages.pop()) #without passing argument
print("Removed item:", languages.pop(-1)) #using negative indexing
print("List after popping two items from the last:", languages)

#remove all items from the list

Removed item at index 3: Java
List after removing item at index 3 ['Python', 'C++', 'javaScript', 'Go', 'Rust', 'Ruby', 'Python']
Removed item: Python
Removed item: Ruby
List after popping two items from the last: ['Python', 'C++', 'javaScript', 'Go', 'Rust']

##### Remove all items from the list using clear()
The clear() method removes all items from the list.

In [71]:
numbers = [1, 2, 3, 4, 5]

#remove all elements form the list
numbers.clear()
print(numbers)

[]

#### Other methods

#### count()
The count() method counts the number of times the specified element appears in the list.

In [76]:
#count the occurences of 1 from the list of integers
numbers = [1, 2, 3, 4, 1, 7, 4, 2, 1]
print("Count of 1:", numbers.count(1))

#count the ocurrence of non-existent number 10 from the list
print("Count of 10:", numbers.count(10))

#count tuple and list elements inside list
eg_list = [(1, 1), [2, 4], (1, 1), [3, 2], 7.9]
print("Count of (1, 1):", eg_list.count((1,1)))
print("Count of [2, 4]:", eg_list.count([2, 4]))

Count of 1: 3
Count of 10: 0
Count of (1, 1): 2
Count of [2, 4]: 1

#### sort()

In [ ]:

#sort the list in ascending/descending order

#reverse the item of the list

#return the shallow copy of the list